
h1{
    color: palevioletred;
}

h2{
    color: darkorchid;
}

*{
    margin: 0;
    padding: 0;
}

#home-screen{
    width: 100vw;
    height: 100vh;
    background-color: mistyrose;
    text-align: center;
}

#welcome-text{
    padding-top: 2%;
}

#box{
    background-color:violet;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border: 2px solid pink;
    border-radius: 100px 75px;

}


